{% extends "layout.html" %} {% block header %}Resources{% endblock %} {% block
content %}


<div class="col-md-12">
      <button type="submit" id="reset" class="reset btn btn-warning ml-1 my-1 float-left">Reset</button>
      
      <form action="/shutdownR" method="post">
      {% if srv == "ec2"  %}

      
      <button onclick="$('#loading').show();" type="submit" id="reset" class="reset btn btn-danger ml-1 my-1 float-right">Shutdown Scalable Service</button>
     
      <div class="col-md-12" id="loading" style="display: none">
        <img src="loading.gif" alt="" />Terminating EC2 Instances
      </div>

      {% else %}
      
      <button type="submit" id="reset" class="reset btn btn-danger ml-1 my-1 float-right" disabled>(Current service not scalable)</button>
      </div>


      {% endif %}
      </form>
      </div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Signal Date</th>
      <th scope="col">95%</th>
      <th scope="col">99%</th>
    </tr>
  </thead>
  <tbody>
    {% for i in content %}
    <tr>
      <th scope="row">{{loop.index}}</th>
      <td>{{ i[0] }}</td>
      <td>{{ i[1] }}</td>
      <td>{{ i[2] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
