{% extends "layout.html" %}{% block head%} {% endblock %} {% block header
%}Service{% endblock %} {% block content %}
<!-- <h1>login</h1> -->
<div class="container-fluid form-group">
<form method="POST" action="#">
  <!-- <p><input type="text" name="nm" /></p> -->
   <div class="form-group">
    <label for="exampleInputEmail1">H</label>
    <input type="number" name="h" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="200">
    <small id="emailHelp" class="form-text text-muted">Length of price history from which to generate the mean and standard deviation</small>
  </div>
   <div class="form-group">
    <label for="exampleInputEmail1">D</label>
    <input type="number" name="d" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="100000">
    <small id="emailHelp" class="form-text text-muted">the number of data points (shots) to use by each R for calculating risk</small>
  </div>


   <div class="form-group">
    <label for="exampleInputEmail1">T</label>
    <div class="form-check">
  <input class="form-check-input" type="radio" name="t" id="exampleRadios1" value="1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Buy
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="t" id="exampleRadios2" value="0">
  <label class="form-check-label" for="exampleRadios2">
    Sell
  </label>
</div>
    <small id="emailHelp" class="form-text text-muted">Buy or Sell to allow for separate analysis of each type of signal</small>
  </div>

  <button
    onclick="$('#loading').show();"
    type="submit"
    class="btn btn-primary my-1"
  >
    Submit
  </button>
  </div>
</form>

{% endblock %}
